.card-image img{
  width: 400px;
  height:250px;
}
.card-title{
  font-size: 25px;   
  text-align: left;
  color: orange;
  font-family: 'Times New Roman', Times, serif;
}
.card-description{
  font-size: 16px;
  /* text-align: left; */
  width: 400px;
}
.card{
  border: 1px solid rgb(217, 217, 217);
  box-shadow: 0 0 5px black;
  width:400px;
  height:400px;
  margin-top: 50px;
  margin-left: 450px;
  background-color: white;

}
a{
  text-decoration: none;
  margin-right: 25px;
}